@import url("/assets/css/root.css");

/* ------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------- */
.footer.container {
    align-items: center;
    background-color: var(--bg-color);
    border-top: 1px solid var(--terminal-border);
    box-sizing: border-box;
    color: var(--text-light);
    display: flex;
    flex-direction: column; /* Alinha itens em coluna no footer */
    font-family: var(--font-secondary);
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 100vw;
}

.footer p {
    margin-bottom: 10px; /* Espaço entre o texto e os ícones */
}

.footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social a {
    color: var(--second-color); /* Cor dos ícones sociais */
    font-size: 2rem; /* Tamanho dos ícones */
    margin: 0 15px;
    transition: color var(--transition-duration) var(--transition-timing);
}

.footer .social a:hover {
    color: var(--title-color); /* Efeito hover nos ícones */
}