@import url("/assets/css/root.css");

/* ------------------------------------------------------------- */
/* Header */
/* ------------------------------------------------------------- */
header {
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--terminal-border); /* Borda mais "hacker" */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    width: 100vw;
}

.header-title {
    color: var(--title-color);
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: var(--second-color); /* Roxo para destaque */
}

.header-title span {
    color: var(--second-color);
}

.header-container-menu {
    padding: 10px 20px;
    width: 100%;
}

.header-container-menu-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-container-menu-list-item {
    margin-right: 15px;
}

.header-container-menu-list-item-link {
    background-color: var(--button-bg);
    border: 1px solid var(--terminal-border); /* Borda para botões */
    border-radius: 3px;
    color: var(--text-light); /* Cor de texto mais clara para contraste */
    font-family: var(--font-tertiary);
    padding: 10px;
    text-decoration: none;
    transition: background-color var(--transition-duration) var(--transition-timing),
                color var(--transition-duration) var(--transition-timing),
                box-shadow var(--transition-duration) var(--transition-timing);
}

.header-container-menu-list-item-link:hover {
    background-color: var(--hover-bg);
    box-shadow: 0 0 10px var(--shadow-color); /* Efeito de brilho ao passar o mouse */
    color: var(--font-color);
}