@import url("/assets/css/root.css");
.home {

    height: 25vh;
    max-height: 30vh; 
    width: 100vw;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    
}

.home-container{
    align-items: center;
    padding: 24px 0;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


.home-title {
    color: var(--second-color);
    font-family: var(--font-primary);
    font-size: 1.5rem; 
    font-weight: bold; 
    align-items: center;
    text-align: center;

}

.home-subtitle {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: .9rem; 
    color: var(--shadow-color); 
}
