@import url("/assets/css/root.css");

/* ------------------------------------------------------------- */
/* Filtro de Postagens */
/* ------------------------------------------------------------- */
.post-filter {
    align-items: center;
    background-color: var(--bg-color);
    border-top: 1px solid var(--terminal-border);
    box-sizing: border-box;
    column-gap: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 14px 0;
    width: 100vw;
}

.filter-item {
    background: var(--button-bg);
    border: 1px solid var(--terminal-border);
    border-radius: 5px;
    color: var(--text-light);
    cursor: pointer;
    font-family: var(--font-tertiary);
    font-size: 1rem;
    padding: 10px 16px;
    text-transform: capitalize;
    transition: background-color var(--transition-duration) var(--transition-timing),
                box-shadow var(--transition-duration) var(--transition-timing);
}

.active-filter {
    background: var(--hover-bg);
    border: 2px solid var(--font-color);
    border-radius: 5px;
    box-shadow: 0 0 15px var(--shadow-color);
    color: var(--font-color);
    cursor: pointer;
    font-family: var(--font-tertiary);
    font-size: 1.1rem;
    padding: 14px 20px;
    text-transform: capitalize;
}

.active-filter:hover,
.filter-item:hover {
    background-color: var(--highlight-bg);
    box-shadow: 0 0 10px var(--shadow-color);
    color: var(--font-color);
}