@import url("/assets/css/root.css");

/* ------------------------------------------------------------- */
/* Post Filter Section (Filtro de Categorias) */
/* ------------------------------------------------------------- */
.post-filter.container {
    align-items: center;
    background-color: var(--bg-color); /* Fundo igual ao do corpo */
    border-bottom: 1px solid var(--second-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100vw;
}

.filter-item {
    background-color: var(--button-bg); /* Fundo dos botões de filtro */
    border: 1px solid var(--terminal-border);
    border-radius: 3px;
    color: var(--text-light);
    cursor: pointer;
    font-family: var(--font-tertiary);
    margin: 0 10px;
    padding: 8px 15px;
    transition: background-color var(--transition-duration) var(--transition-timing),
                box-shadow var(--transition-duration) var(--transition-timing),
                color var(--transition-duration) var(--transition-timing);
}

.filter-item:hover,
.filter-item.active-filter {
    background-color: var(--hover-bg);
    box-shadow: 0 0 10px var(--shadow-color);
    color: var(--title-color); /* Cor de destaque para o ativo/hover */
}