@import url("/assets/css/root.css");
/*filtro dos post*/
.post-filter{
    width: 100vw;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem; /*espaçamento entre eles*/
    border-top: 1px solid var(--second-color);
    padding: 14px 0;
}

.filter-item{
    text-transform: capitalize;
    background: var(--button-bg);
    color: lightskyblue;
    padding: 8px;
    border-radius: 1px;
    font-family: var(--font-tertiary);
}

.active-filter{
    text-transform: capitalize;
    background: var(--button-bg);
    color: red;
    padding: 14px;
    border-radius: 1px;
}

.active-filter:hover, .filter-item:hover{
    cursor: pointer;
}
