@import url("/assets/css/root.css");

.posts-container {
    background: var(--container-color);
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.post-article {
    width: 500px;
    border: 2px solid lightgreen;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    transition: all 0.3s ease;
    margin: 20px auto;
    padding: 15px;
    overflow: hidden;
}

.post-article:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-title {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #333;
    line-height: 3rem;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.post-content{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--font-tertiary);
}

.home-post-link {
    font-size: 1rem;
    color: #007BFF;
    text-decoration: none;
}

.home-post-link:hover {
    text-decoration: underline;
    color: #0056b3;
}
