@import url("/assets/css/root.css");

.posts-container {
    background: var(--container-color);
    width: 100%; /* Garante que o contêiner ocupe toda a largura da tela */
    max-width: 100vw; /* Não ultrapassa a largura da tela */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box; /* Evita que o padding ultrapasse o tamanho do contêiner */
}

.post-article {
    width: 100%; /* Garante que o post ocupe toda a largura disponível */
    max-width: 500px; /* Largura máxima fixa */
    border: 2px solid lightgreen;
    border-radius: 3px;
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    transition: all 0.3s ease;
    margin: 20px auto;
    padding: 15px;
    overflow: hidden;
}

.post-article:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-title {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #333;
    line-height: 3rem;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.post-content {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--font-tertiary);
}

.home-post-link {
    font-size: 1rem;
    color: #007BFF;
    text-decoration: none;
}

.home-post-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .post-article {
        width: 90%; /* Largura ajustada para telas menores */
        max-width: 100%; /* Não ultrapassa a tela */
        margin: 10px auto; /* Reduz o espaçamento entre as postagens */
        padding: 12px; /* Reduz o padding */
    }

    .post-title {
        font-size: 1.3rem; /* Ajusta o tamanho da fonte do título */
        line-height: 2rem; /* Reduz o espaço entre as linhas */
    }

    .post-content {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte do conteúdo */
        line-height: 1.4rem; /* Ajusta o espaçamento entre as linhas */
    }
}
