@import url("/assets/css/root.css");

/* Filtro de Postagens */
.post-filter {
    width: 100vw;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    border-top: 1px solid var(--second-color);
    padding: 14px 0;
    box-sizing: border-box; /* Garantir que padding e border não afetem o layout */
}

.filter-item {
    text-transform: capitalize;
    background: var(--button-bg);
    color: lightskyblue;
    padding: 10px 16px; /* Aumentei o padding para itens mais espaçados */
    border-radius: 5px; /* Ajustei o border-radius para uma aparência mais suave */
    font-family: var(--font-tertiary);
    font-size: 1rem; /* Aumentei o tamanho da fonte para melhor legibilidade */
    
}

.active-filter {
    text-transform: capitalize;
    background: var(--button-bg);
    color: red;
    padding: 14px 20px; /* Aumentei o padding para dar destaque ao item ativo */
    border-radius: 5px;
    font-size: 1.1rem; /* Aumentei o tamanho da fonte para maior destaque */
}

.active-filter:hover, .filter-item:hover {
    cursor: pointer;
    background-color: var(--highlight-bg); /* Cor de fundo alterada no hover */
}

/* Responsividade */
@media (max-width: 768px) {
    .post-filter {
        flex-direction: column; /* Coloca os itens do filtro em uma coluna */
        row-gap: 1rem; /* Adiciona espaço entre as opções quando em coluna */
        padding: 12px 10px; /* Ajusta o padding para telas menores */
    }

    .filter-item, .active-filter {
        font-size: 0.9rem; /* Reduz o tamanho da fonte para melhor adaptação */
        padding: 8px 12px; /* Ajusta o padding para itens menores */
        width: 100%; /* Faz com que os filtros se ajustem à largura da tela */
        text-align: center; /* Centraliza o texto nos itens */
    }
}
