/* CSS Reset Completo */

/* Reset Básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Baloo 2', cursive, 'Poppins', sans-serif, 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Estilos Gerais */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Elementos de Bloco */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section {
    display: block;
}

/* Estilo para o Body */
body {
    line-height: 1.5; /* Melhor legibilidade */
    font-family: Arial, sans-serif; /* Escolha uma fonte padrão */
    background-color: #fff; /* Cor de fundo padrão */
    color: #333; /* Cor de texto mais suave */
}

/* Listas */
ol, ul {
    list-style: none;
}

/* Citações */
blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

/* Tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Correções de alinhamento padrão para o header */
header, footer {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
}

/* Imagens */
img {
    max-width: 100%;
    height: auto; /* Responsividade nas imagens */
    display: block;
}

/* Formulários */
input, button, textarea, select {
    font: inherit; /* Garantir que os elementos de formulário herdem as fontes */
}

/* Melhorar acessibilidade para links */
a:focus, a:hover {
    outline: none;
    text-decoration: underline;
}

/* Estilos para o texto */
strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte em telas menores */
    }
}
