/* Estilos responsivos */
@media (max-width: 768px) {
    /* Ocultar o menu no modo mobile */
    .header-container-menu {
        display: none;
    }

    /* Ajustar a seção "home" */
    .home-title {
        font-size: 1.5rem;
    }

    .home-subtitle {
        font-size: 1rem;
    }

    /* Ajustar o filtro e os posts */
    .post-filter {
        flex-direction: column;
        align-items: center;
    }

    .posts-container {
        padding: 10px;
    }

    .post-title {
        font-size: 1.4rem;
    }

    .post-content {
        font-size: 0.9rem;
    }
}